
<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/urbanizacion/c" method="post"
			class="contact100-form validate-form">
			<span class="contact100-form-title"> Nueva Urbanización <img
				id="logo" src="../../static/img/LogoPagina.png" width="15%"
				height="25%">
			</span>


			<div class="wrap-input100 validate-input"
				data-validate="Nombre requerido">
				<label class="label-input100" for="nombre">Nombre</label> <input
					id="nombre" class="input100" type="text" name="nombre"> <span
					class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">Crear</button>
			</div>

			<div class="container-contact100-form-btn">
				<a href="/urbanizacion/r">
					<button class="contact100-form-btn">Volver</button>
				</a>
			</div>
		</form>
		<!-- <div class="contact100-more flex-col-c-m" style="background-image: url('images/bg-01.jpg');"> -->
	</div>
</div>
