<!DOCTYPE html>
<html lang="en">
<head>
	<title>Urbanización</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="resources/static/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>


<div class="container">

	<h1>Lista de Urbanizaciones</h1>
	<br/>
	<a href="/urbanizacion/c"><button class="btn btn-dark">Nueva Urbanización</button></a>
	<a href="/"><button class="btn btn-dark">Volver</button></a>
	<br/><br/>
	<table class="table table-lm table-striped table-hover">
		<tr>
			<th>Nombre</th>
			<th>Acción</th>
		</tr>
		<tr th:each="urbanizacion:${urbanizaciones}">
			<td th:text="${urbanizacion.nombre}"></td>
			<td class="form-inline">
				<form action="/urbanizacion/d" method="post">
					<input type="hidden" name="id" th:value="${urbanizacion.id}">
					<button onclick="submit()" class="btn btn-light">
						<img src="/img/trash.png" width="20" height="20">
					</button>
				</form>
			</td>
		</tr>
	</table>

</div>





<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	
	<script src="js/main.js"></script>
	
</body>
</html>
