 <div class="container-contact100">
<div class="wrap-contact100">
	<br/><br/>
	<span class="contact100-form-title"> Listado de Urbanizaciones </span>
	<br/><br/>
	&nbsp;<a href="/urbanizacion/c"><button class="contact100-form-btn">Nueva Urbanizacion</button></a>
	&nbsp;<a href="/"><button class="contact100-form-btn">Volver</button></a>
	<br/><br/>
	<table class="table table-lm table-striped ">
		<tr>
			<th>Nombre</th>
			<th>Estado</th>
			<th>Acción</th>
		</tr>
		<tr th:each="urbanizacion:${urbanizaciones}">
			<td th:text="${urbanizacion.nombre}"></td>
			<td th:text="${urbanizacion.estado}"></td>
			<td class="form-inline">
				<form action="/urbanizacion/u" method="get">
					<input type="hidden" name="urbaId" th:value="${urbanizacion.id}">
					<button onclick="submit()" class="btn btn-light">
						<img src="/img/edit.png" width="20" height="20">
					</button>
				</form>
				<form action="/urbanizacion/d" method="post">
					<input type="hidden" name="urbaId" th:value="${urbanizacion.id}">
					<button onclick="submit()" class="btn btn-light">
						<img src="/img/trash.png" width="20" height="20">
					</button>
				</form>
			</td>
		</tr>
	</table>

</div>
</div>
