
<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/urbanizacion/u" method="post" class="contact100-form validate-form" name="miForm" onsubmit="return validacion()">
			<span class="contact100-form-title"> Editar Urbanización 
				<img id="logo" src="/img/LogoPagina.png" width="15%" height="25%">
			</span>
			<br>
			
		<input type="hidden" name="urbaId"  th:value="${urbanizacion.id}"/>

			<div class="wrap-input100 validate-input" data-validate="Nombre requerido">
				<label class="label-input100" for="id-nombre">Nombre</label>
				<input type="text" class="input100" id="id-nombre" name="nombre"  th:value="${urbanizacion.nombre}"/><div id="errNombre"></div> 
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<input type="submit" id="botonEnvio" class="contact100-form-btn" value="Aceptar">
			</div>

			<div class="container-contact100-form-btn">
				<a href="/" class="contact100-form-btn">
					<button class="contact100-form-btn" id="botonVolver">Cancelar</button>
				</a>
			</div>
		</form>
		
	</div>
</div>

<script>

	function validacion() {
		var expNombre = /[a-z ñáéíóúçü-]{3,30}$/;
	
		if (!expNombre.test(miForm.nombre.value.toLowerCase())) {
			document.getElementById("errNombre").innerHTML = "<font color='red'>El nombre no es correcto.</font>";
			return false;
		} else {
			document.getElementById("errNombre").innerHTML = "";
			return true;
		}
	}

</script>