<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/reserva/c" method="post"
			class="contact100-form validate-form">
			<span class="contact100-form-title"> Nueva Reserva <img
				id="logo" src="/img/LogoPagina.png" width="15%" height="25%">
			</span>

			<div class="wrap-input100 validate-input"
				data-validate="fecha requerido">
				<label class="label-input100" for="fecha">Fecha</label> <input
					id="fecha" class="input100" type="date" name="fecha"> <span
					class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input"
				data-validate="nBloques requerido">
				<label class="label-input100" for="tReserva">Tiempo
					reseva(minutos)</label> <input id="tReserva" class="input100" type="number"
					min="0" th:max="${zona.tiempoMax}" step="30" name="tReserva">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input"
				data-validate="inicio requerido">
				<label class="label-input100" for="franjas">Franjas</label> <select
					id="franjas" class="input100" multiple="multiple" name="franjas[]">
					<option th:each="franja:${franjas}" th:text="${franja.hora}"
						th:value="${zona.id}"></option>
				</select> <span class="focus-input100"></span>
			</div>

			<input type="hidden" id="zonaId" name="zonaId" th:value="${zona.id}"> <input
				type="hidden" id="vecinoId" name="vecinoId" th:value="${vecino.id}"> <br>
			<input type="submit" class="contact100-form-btn" />
			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">
					<a href="/" class="contact100-form-btn">Volver</a>
				</button>

			</div>

		</form>
		<img id="home" src="/img/LogoPagina.png" width="55%" height="55%" />
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {	
	
		$('#fecha').on('change',
				function() {
				$.getJSON('getFranjas','datos='+$('#zonaId').val()+'Y'+$(this).val(),
							
							
										function(valor) {
					console.log(valor);
					
										$('#franjas').empty();
										var html = '<option>Selecciona Franjas</option>';
										var len = valor.length;
										console.log(len);
										for(var i=0; i<len;i++) {
											html+='<option value="' + valor[i] + '">' + valor[i] + '</option>';
										}
										$('#franjas').append(html);
									});
							});
		
		
		
		
		/*$('#fecha').on('change', function() {
			$.ajax({
				url : '/getFranjas',
				type : 'POST',
				contentType : "application/json",
				data : JSON.stringify({
					fecha : $('#fecha').val(),
					zona : $('#zonaId').val()
				})				
			})
		});

		$('#fecha').on('change',
					function() {
					$.getJSON('getFranjas', 
											'fecha='+$(this).val(),
											'zonaId=1',
											function(valor) {
						console.log(valor);
						
											$('#franjas').empty();
											var html = '<option>Selecciona Franjas</option>';
											var len = valor.length;
											console.log(len);
											for(var i=0; i<len;i++) {
												html+='<option value="' + valor[i] + '">' + valor[i] + '</option>';
											}
											$('#franjas').append(html);
										});
								});*/
	});
</script>