<style>
	table, th, td {
		text-align: center;
		
	}
</style>
<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/reserva/c" method="post"
			class="contact100-form validate-form">
			<span class="contact100-form-title"> Nueva Reserva <img
				id="logo" src="/img/LogoPagina.png" width="15%" height="25%">
			</span>

			<div class="wrap-input100 validate-input"
				data-validate="fecha requerido">
				<label class="label-input100" for="fecha">Fecha</label> <input
					id="fecha" class="input100" type="date" name="fecha"> <span
					class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input"
				data-validate="nBloques requerido">
				<label class="label-input100" for="tReserva">Tiempo
					reseva(minutos)</label> <input id="tReserva" class="input100" type="number"
					min="0" th:max="${zona.tiempoMax}" step="30" name="tReserva">
				<span class="focus-input100"></span>
			</div>

<!-- 
			<div class="wrap-input100 validate-input"
				data-validate="franjas requerido">
				<label class="label-input100" for="franjas">Franjas</label> <select
					id="franjas" class="input100" multiple="multiple" name="franjas[]">
					<option th:each="franja:${franjas}" th:text="${franja.hora}"
						th:value="${zona.id}"></option>
				</select> <span class="focus-input100"></span>
			</div>
 -->
				<div id="tablaFranjas" class="form-inline"></div>
			
			<input type="hidden" id="zonaId" name="zonaId" th:value="${zona.id}"> <input
				type="hidden" id="vecinoId" name="vecinoId" th:value="${vecino.id}"> <br>
			<input type="submit" class="contact100-form-btn" />
			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">
					<a href="/vecino/home" class="contact100-form-btn">Volver</a>
				</button>
			</div>

		</form>
		<img id="home" src="/img/LogoPagina.png" width="55%" height="55%" />
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {	
		//SACA LAS FRANJAS EN UN SELECT MULTIPLE
	/*	$('#fecha').on('change',
			function() {
				$.getJSON('getFranjas',
					'datos='+$('#zonaId').val()+'Y'+$(this).val(),
					function(valor) {
						$('#franjas').empty();
						var html = '<option>Selecciona Franjas</option>';
						var len = valor.length;
						for(var i=0; i<len;i++) {
							html+='<option value="' + valor[i] + '">' + valor[i] + '</option>';
						}
						$('#franjas').append(html);
					});
							
		});*/
		
		//SACA LAS FRANJAS EN UNA TABLA
		$('#fecha').on('change',
				function() {
					$.getJSON('getFranjas',
						'datos='+$('#zonaId').val()+'Y'+$(this).val(),
						function(valor) {
							$('#tablaFranjas').empty();//VACÍA EL DIV DONDE ESTÁ LA TABLA
							var tabla = '<table class="table table-lm table-striped">';
							tabla += '<tr><th colspan="2">FRANJAS</th></tr></tr>'
							tabla += '<tr><td>Acción</td><td>Hora</td></tr>';
							var len = valor.length;
							for(var i=0; i<len;i++) {
								tabla += '<tr><td><input type="checkbox" name="franjas[]" value="' + valor[i] + '"/></td>'
								tabla += '<td>' + valor[i] + '</td></tr>';
							}
							tabla+='</tabla>';
							$('#tablaFranjas').append(tabla);
						});
								
			});
		
	});
</script>

<footer class="site-footer">
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
		$(".js-select2").each(function(){
			$(this).on('select2:open', function (e){
				$(this).parent().next().addClass('eff-focus-selection');
			});
		});
		$(".js-select2").each(function(){
			$(this).on('select2:close', function (e){
				$(this).parent().next().removeClass('eff-focus-selection');
			});
		});
	

	</script>
	

    
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify"><i></i> </p>
          </div>

          <div class="col-xs-6 col-md-3">
             <h6>Categories</h6> 
            <ul class="footer-links">
<!--               <li><a href="http://scanfcode.com/category/c-language/">C</a></li> -->
              
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
<!--             <h6>Quick Links</h6> -->
            <ul class="footer-links">
<!--               <li><a href="http://scanfcode.com/about/">About Us</a></li> -->
              
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; Desarrollado por UrbaZone <img
				id="logo" src="/img/LogoPagina.png" width="5%" height="10%">
        &nbsp; <a href="/privacidad"><font face="Comic Sans MS,arial,verdana" size="1" color="teal">Políticas de privacidad y </font></a><a href="/cookies"><font face="Comic Sans MS,arial,verdana" size="1" color="teal">Políticas de cookies</font></a>
            </p>
          </div>

        <div id="social" class="contact100-form-social flex-c-m">
					<a href="#" class="contact100-form-social-item flex-c-m bg1 m-r-5">
						<i class="fa fa-facebook-f" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg3">
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
					</a>
				</div>
        </div>
      </div>
</footer>
	