


<div class="container-contact100">
	<div class="wrap-contact100">
		<br /> <br /> <span class="contact100-form-title"> Listado de
			Reservas </span> <br /> <br /> <br /> &nbsp; <a href="/homeAdmin">
			<button class="contact100-form-btn">Volver</button>
		</a> <br /> <br />

		<table class="table table-striped">
			<tr>
				<th>Vecino</th>
				<th>Zona Comun</th>
				<th>Fecha</th>
				<th>Inicios</th>
				<th>Tiempo</th>
				<th>Estado</th>
			</tr>

			<tr th:each="reserva:${reservas}">
				<td th:text="${reserva.hace?.id}"></td>
				<td th:text="${reserva.tiene?.nombre}"></td>
				<td th:text="${#strings.substringBefore(reserva.fecha,' ')}"></td>
				<td th:text="${reserva.inicio}"></td>
				<td th:text="${reserva.tReserva}"></td>
				<td th:text="${reserva.estado}"></td>
			</tr>

		</table>
	</div>
</div>