




&nbsp;&nbsp;
		
 <span class="contact100-form-title"> Reserve aquí la Zona Común que desee. </span>
		
&nbsp;&nbsp;

		<div class="container-contact100-form-btn">
			<span th:each="zona:${zonas}">	
			<form action="/reserva/c" method="get">
				<input type="hidden" name="zonaId" th:value="${zona.id}">
				<input type="hidden" name="vecinoId" th:value="${session.vecino.id}">			
					 &nbsp;&nbsp;<button onclick="submit()" class="contact100-form-btnHome" th:text="${zona.nombre}"></button>
			</form>
			</span>
			
		</div>





	


