
<div class="container-contact100">
	<div class="wrap-contact100">
		<br /> <br /> <span class="contact100-form-title"> Perfil <span th:text="${session.vecino.nombre}"></span></span> <br /> <br /> &nbsp;<a href="/vecino/home"><button
				class="contact100-form-btn">Volver</button></a> <br /> <br />
				<input type="hidden" name="id" th:value="${session.vecino.id}"/>
		<table class="table table-lm table-striped ">

			<tr>
				<th>Urbanización</th>
				<th>Edificio</th>
				<th>Nombre de usuario</th>
				<th>Nombre</th>
				<th>E-mail</th>
				<th>Acciones</th>
			</tr>

			<tr>
				<td th:text="${session.vecino.vive.pertenece?.nombre}"></td>
				<td th:text="${session.vecino.vive?.portal}"></td>
				<td th:text="${session.vecino.username}"></td>
				<td th:text="${session.vecino.nombre}"></td>
				<td th:text="${session.vecino.email}"></td>
				<td class="row">
					<form action="/vecino/u" method="get">
						<input type="hidden" name="id" th:value="${session.vecino.id}" />
						<button onclick="submit()">
							<img src="/img/edit.png" height="20" width="20">
						</button>
					</form>
					<form action="/vecino/estadistica" method="get">
						<input type="hidden" name="id" th:value="${session.vecino.id}" />
						<button onclick="submit()">
							Estadísticas
						</button>
					</form>
				</td>
			</tr>

		</table>
	</div>
</div>