 <div class="container-contact100">
<div class="wrap-contact100">
	<br/><br/>
	<span class="contact100-form-title"> Listado de Urbanizaciones </span>
	<br/><br/>
	&nbsp;<a href="/"><button class="contact100-form-btn">Volver</button></a>
	<br/><br/>
	<table class="table table-lm table-striped table-hover">

	
		<tr>
			<th>Edificio</th>
			<th>Nombre de usuario</th>
			<th>Contraseña</th>
		</tr>

		<tr th:each="vecino:${vecinos}">
			<td th:text="${vecino.vive?.portal}"></td>
			<td th:text="${vecino.username}"></td>
			<td th:text="${vecino.password}"></td>
		</tr>

	</table>
</div>
</div>