<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/vecino/u" method="post"
			class="contact100-form validate-form" name="miForm"
			onsubmit="return validacion()">
			<span class="contact100-form-title"> Te damos la bienvenida a UrbaZone, a continuación cambia tus credenciales para mayor seguridad<img
				id="logo" src="/img/LogoPagina.png" width="15%" height="25%"></span>
			<br>

			<div class="wrap-input100 validate-input">
				<label class="label-input100" for="id-username">Nombre de usuario</label> <input
					class="input100" type="text" id="id-username" name="username" th:value="${session.vecino.username}"
					autofocus="autofocus">
				<div id="errUsername"></div>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input">
				<label class="label-input100" for="id-password">Password</label> <input
					class="input100" type="password" id="id-password" name="password">
				<div id="errPwd"></div>
				<span class="focus-input100"></span>
			</div>

			<input type="hidden" name="id" th:value="${session.vecino.id}"/>

			<div class="container-contact100-form-btn">
				<input type="submit" id="botonEnvio" class="contact100-form-btn"
					value="Enviar">
			</div>

		</form>
	</div>
</div>
<script>

	function validarUsername() {
		var expUsername = /^[a-zA-Z]{1}([a-zA-Z]||[0-9]||[.\-_/$&]){3,30}$/;

		if (!expUsername.test(miForm.username.value.toLowerCase())) {
			document.getElementById("errUsername").innerHTML = "<font color='red'>El username debe empezar con 1 letra y puede contener números y caracteres especiales.</font>";
			return false;
		} else {
			document.getElementById("errUsername").innerHTML = "";
			return true;
		}
	}

	function validarPassword() {
		var expPassword = /^[a-zA-Z0-9çÇ]([\$\@\?\-]?[a-zA-Z_0-9-çÇ]){7,30}$/;

		if (!expPassword.test(miForm.password.value.toLowerCase())) {
			document.getElementById("errPwd").innerHTML = "<font color='red'>La contraseña debe tener mínimo 8 caracteres y al menos 1 letra mayúscula, 1 letra minúscula y 1 número.</font>";
			return false;
		} else {
			document.getElementById("errPwd").innerHTML = "";
			return true;
		}
	}
	
	function criteriosPwd(pwd) {
		var pwd = miForm.password.value;
		var permitidosNumeros = "1234567890";
		var permitidosLetrasMin = "abcdefghijklmnñopqrstuvwxyz";
		var permitidosLetrasMay = "ABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
		var criterio1 = false;
		var criterio2 = false;
		var criterio3 = false;
		console.log(pwd);
		//COMPRUEBA QUE LA CONTRASEÑA CONTIENE ALGÚN NÚMERO
		for(var i = 0; i < pwd.length; i++) {
			if(permitidosNumeros.indexOf(pwd.charAt(i)) >= 0) {
				criterio1 = true;
			}
		}
		//COMPRUEBA QUE LA CONTRASEÑA CONTIENE ALGUNA LETRA MINÚSCULA
		for(var i = 0; i<pwd.length; i++) {
			if(permitidosLetrasMin.indexOf(pwd.charAt(i)) >= 0) {
				criterio2 = true;
			}
		}
		//COMPRUEBA QUE LA CONTRASEÑA CONTIENE ALGUNA LETRA MAYÚSCULA
		for(var i = 0; i<pwd.length; i++) {
			if(permitidosLetrasMay.indexOf(pwd.charAt(i)) >= 0) {
				criterio3 = true;
			}
		}
		
		if((criterio1==true)  && (criterio2==true) && (criterio3==true)) {
			return true;
		}
		else {
			return false;
		}
		
	}

	function validacion() {
		if (validarUsername() && validarPassword() && criteriosPwd()) {
			return true;
		} else {
			return false;
		}
	}
	
</script>