<div class="container-contact100">
	<div class="wrap-contact100">
		<form id="WidthForm" action="/vecino/ul" method="post"
			class="contact100-form validate-form">
			<span class="contact100-form-title"> Editar vecinos del portal <span th:text="${portal}"></span>  <img
				id="logo" src="/img/LogoPagina.png" width="15%" height="25%"></span>
			<br>


		<fieldset id="float"  th:each="vecino:${vecinos}">
		
		<div  class="wrap-input100 validate-input">
			<input id="vecino" class="input100" type="text" th:value="|${vecino.id}" th:name="ids[]"
				readonly="readonly">
				
				<div class="wrap-input100 validate-input">
				&nbsp;<span th:for="|${vecino.id}_name|">Nombre</span>
				
				
				
			<input class="input100" type="text" th:name="nombres[]" th:value="|${vecino.nombre}|"
				th:id="|${vecino.id}_name|">
				</div>
				
				<div class="wrap-input100 validate-input">
				&nbsp;<span th:for="|${vecino.id}_mail|">Email</span> 
				
				
				<input class="input100" type="text"
				th:name="emails[]" th:value="|${vecino.email}|"
				th:id="|${vecino.id}_mail|"> 
				</div>
			</div>
		</fieldset>
		
		<input type="hidden" th:value="${portal}" name="portal"> 
		
		<div id="boton"  class="container-contact100-form-btn">
				<input type="submit" id="botonEnvio" class="contact100-form-btn"
					value="Enviar">
			</div>
			
			<div id="boton"  class="container-contact100-form-btn">
				<button class="contact100-form-btn">
					<a href="/edificio/r" class="contact100-form-btn">Volver</a>
				</button>

			</div>
	</form>
</div>