<div class="container">
	<h1>Editar vecinos del portal <span th:text="${portal}"></span></h1>
	<form method="post" action="/vecino/ul" class="form">
		<fieldset th:each="vecino:${vecinos}">
			<input type="text" th:value="|${vecino.id}" th:name="ids[]"
				readonly="readonly"> <label th:for="|${vecino.id}_name|">Nombre</label>
			<input type="text" th:name="nombres[]" th:value="|${vecino.nombre}|"
				th:id="|${vecino.id}_name|"> <br> <label
				th:for="|${vecino.id}_mail|">Email</label> <input type="text"
				th:name="emails[]" th:value="|${vecino.email}|"
				th:id="|${vecino.id}_mail|"> <br>
		</fieldset>
		<input type="hidden" th:value="${portal}" name="portal"> <input
			type="submit" class="form-item" />
	</form>
</div>