<nav class="container navbar fixed-top navbar-expand-sm navbar-dark bg-dark">

	<a class="navbar-brand" href="/">GU</a>
	
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Urbanización</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/urbanizacion/c">Crear</a>
				<a class="dropdown-item" href="/urbanizacion/r">Listar</a>
			</div>
		</li>
	</ul>
	
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Zona Común</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/zona_comun/c">Crear</a>
				<a class="dropdown-item" href="/zona_comun/r">Listar</a>
			</div>
		</li>
	</ul>

</nav>