<nav class="container navbar navbar-expand-sm navbar-dark bg-dark">

	<a class="navbar-brand" href="/"><img src="/img/home-alt.png" width="30" height="30"/></a>
	
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Urbanización</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/urbanizacion/c">Crear</a>
				<a class="dropdown-item" href="/urbanizacion/r">Listar</a>
			</div>
		</li>
	</ul>

	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Edificios</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/edificio/c">Crear</a>
				<a class="dropdown-item" href="/edificio/r">Listar</a>
			</div>
		</li>
	</ul>

	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Vecinos</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/vecino/c">Crear</a>
				<a class="dropdown-item" href="/vecino/r">Listar</a>
			</div>
		</li>
	</ul>
	
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Zona Común</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/zonaComun/c">Crear</a>
				<a class="dropdown-item" href="/zonaComun/r">Listar</a>
			</div>
		</li>
	</ul>

</nav>