 <div class="container-contact100">
<div class="wrap-contact100">
	<br/><br/>
	<span class="contact100-form-title"> Listado de Zonas Comunes </span>
	<br/><br/>
	<br/>
	&nbsp;<a href="/zonaComun/c"><button class="contact100-form-btn">Nueva Zona Comun</button></a>
	&nbsp;<a href="/"><button class="contact100-form-btn">Volver</button></a>
	<br/><br/>
	
	<table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>Horario</th>
			<th>TiempoMax</th>
			<th>AforoMax</th>
			<th>Urbanización</th>
			<th>Acción</th>
		</tr>
		<tr th:each="zonaComun:${zonasComunes}">
			<td th:text="${zonaComun.nombre}"></td>
			<td th:text="${zonaComun.horario}"></td>
			<td th:text="${zonaComun.tiempoMax}"></td>
			<td th:text="${zonaComun.aforoMax}"></td>
			<td th:text="${zonaComun.corresponde?.nombre}"></td>
			<td class="form-inline">
				<form action="/zonaComun/u" method="get">
					<input type="hidden" name="zonaComunId" th:value="${zonaComun.id}">
					<button onclick="submit()" class="btn btn-light">
						<img src="/img/edit.png" width="20" height="20">
					</button>
				</form>
				<form action="/zonaComun/d" method="post">
					<input type="hidden" name="zonaComunId" th:value="${zonaComun.id}">
					<button onclick="submit()" class="btn btn-light">
						<img src="/img/trash.png" width="20" height="20">
					</button>
				</form>
			</td>
		</tr>

	</table>
		</div>
</div>
