

	<div class="container-contact100">
		<div class="wrap-contact100">

			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Introduce los credenciales para entrar a tu comunidad.
				</span>


				<div class="wrap-input100 validate-input" data-validate="Nombre requerido">
					<label class="label-input100" for="name">Nombre</label>
					<input id="nombre" class="input100" type="text" name="nombre" >
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Contraseña requerida">
					<label class="label-input100" for="contraseña">contraseña</label>
					<input id="contraseña" class="input100" type="password" name="contraseña" >
					<span class="focus-input100"></span>
				</div>


				
			

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Entrar
					</button>
				</div>

				
				
				<div class="container-contact100-form-btn">
					<a href="#">Olvidaste tu contraseña?</a>
				</div>

				
			</form>

			<img id="login" src="../../static/img/LogoPagina.png" width="20%" height="20%">

			
		</div>
	</div>





	

