<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
		$(".js-select2").each(function(){
			$(this).on('select2:open', function (e){
				$(this).parent().next().addClass('eff-focus-selection');
			});
		});
		$(".js-select2").each(function(){
			$(this).on('select2:close', function (e){
				$(this).parent().next().removeClass('eff-focus-selection');
			});
		});

	</script>
   <div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/edificio/c" method="post"
			class="contact100-form validate-form">
			<span class="contact100-form-title"> Nuevo Edificio <img
				id="logo" src="/img/LogoPagina.png" width="15%"
				height="25%">
			</span>
			

   <div class="wrap-input100">
					<div class="label-input100">Urbanizacion</div>
					<div></div>
				 <select class="js-select2" name="urbaId">
			<option th:each="urbanizacion:${urbanizaciones}"
				th:text="${urbanizacion.nombre}" th:value="${urbanizacion.id}">
				</option>
		</select>
		<div class="dropDownSelect2"></div>
					
					<span class="focus-input100"></span>
				</div>
		
		
		<div class="wrap-input100 validate-input"
				data-validate="portal requerido">
				<label class="label-input100" for="nombre">Portal</label> <input
					id="portal" class="input100" type="text" name="portal"> <span
					class="focus-input100"></span>
			</div>
			
			<div class="wrap-input100 validate-input"
				data-validate="pisos requerido">
				<label class="label-input100" for="nombre">Pisos</label> <input
					id="pisos" class="input100" type="number" name="pisos"> <span
					class="focus-input100"></span>
			</div>
			
			<div class="wrap-input100 validate-input"
				data-validate="puertasXpiso requerido">
				<label class="label-input100" for="nombre">Puertas por piso</label> <input
					id="puertasXpiso" class="input100" type="number" name="puertasXpiso"> <span
					class="focus-input100"></span>
			</div>
		
	   
		<div class="wrap-input100">
				
				<label class="label-input100">Denominacion</label><br>
	    
		<label class="label-input100" for="letra">Letras:</label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="" type="radio" name="denominacion" value="letras" id="letra"> 
		<label class="label-input100" for="numero">Números:</label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="" type="radio" name="denominacion"
			value="numeros" id="numero">
			</div> <br> 
	    <input type="submit" class="contact100-form-btn" />
	    <div class="container-contact100-form-btn">
			<button class="contact100-form-btn"><a href="/" class="contact100-form-btn">Volver</a></button>
				
			</div>
			
	    
	</form>
	
	<img id="home" src="/img/LogoPagina.png" width="55%" height="55%"/>
	

      
