<div class="container">
	<h1>Nuevo Edificio</h1>
	<a href="/">
		<button>Cancelar</button>
	</a>

	<form method="post" action="/edificio/r" class="form">

		Urbanizacion <select name="urbaId ">
			<option th:each="urbanizacion:${urbanizaciones}"
				th:text="${urbanizacion.nombre}" th:value="${urbanizacion.id}"></option>
		</select><br> Portal <input type="text" name="portal"><br>
		Pisos <input type="number" name="pisos"><br> Puertas por
		piso <input type="number" name="puertasXpiso"> <br><label>&nbsp;&nbsp;&nbsp;&nbsp;Denominación</label>
		<label for="letra">Letras</label><input type="radio" name="denominacion"
			value="l" id="letra">
		<label for="numero">Números</label><input type="radio" name="denominacion" 
			value="n" id="numero">
				<br>
				<input type="submit" class="form-item" />
	</form>
</div>