


 <div class="container-contact100">
<div class="wrap-contact100">
	<br/><br/>
	<span class="contact100-form-title"> Listado de Edificios </span>
	<br/><br/>
	<br/>
	&nbsp;<a href="/edificio/c"><button class="contact100-form-btn">Nuevo Edificio</button></a>
	&nbsp;<a href="/homeAdmin"><button class="contact100-form-btn">Volver</button></a>
	<br/><br/>

	<table class="table table-striped">
		<tr>
			<th>Urbanizacion</th>
			<th>Portal</th>
			<th>Pisos</th>
			<th>Puertas por piso</th>
			<th>Acciones</th>
		</tr>

		<tr th:each="edificio:${edificios}">
			<td th:text="${edificio.pertenece?.nombre}"></td>
			<td th:text="${edificio.portal}"></td>
			<td th:text="${edificio.pisos}"></td>
			<td th:text="${edificio.puertasXpiso}"></td>
			<td class="form-inline">
				<form action="/vecino/ul" method="get">
					<input type="hidden" name="idE" th:value="${edificio.id}">
					<button onclick="submit()" class="btn btn-light">
						<img src="/img/edit.png" width="20" height="20">
					</button>
				</form>
				<form action="/edificio/d" method="post">
					<input type="hidden" name="idE" th:value="${edificio.id}">
					<button onclick="submit()" class="btn btn-light">
						<img src="/img/trash.png" width="20" height="20">
					</button>
				</form></td>
		</tr>

	</table>
</div>
</div>