<div class="container">
	<h1>Lista de Edificios</h1>

	<a href="/edificio/c">
		<button>Crear</button>
	</a> <a href="/">
		<button>Cancelar</button>
	</a>

	<table class="table table-striped">
		<tr>
			<th>Urbanizacion</th>
			<th>Portal</th>
			<th>Pisos</th>
			<th>Puertas por piso</th>
			<th>Denominacion</th>
		</tr>

		<tr th:each="edificio:${edificios}">
			<td th:text="${edificio.pertenece?.nombre}"></td>
			<td th:text="${edificio.portal}"></td>
			<td th:text="${edificio.pisos}"></td>
			<td th:text="${edificio.puertasXpiso}"></td>
			<td th:text="${edificio.denominacion}"></td>
		</tr>

	</table>
</div>