<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../../static/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form action="/urbanizacion/c" method="post" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Home
					<img id="logo" src="../../static/img/LogoPagina.png" width="15%" height="25%">
				</span>
				
			<div class="container-contact100-form-btn">
					<a href="/urbanizacion/r"><button class="contact100-form-btn">
						Urbanización
					</button><a/>
				</div>

				<div class="container-contact100-form-btn">
					<a href="/edificio/r"><button class="contact100-form-btn">
						Edificio
					</button><a/>
				</div>

				<div class="container-contact100-form-btn">
					<a href="/vecino/r"><button class="contact100-form-btn">
						Vecinos
					</button><a/>
				</div>

				<div class="container-contact100-form-btn">
					<a href="/zonaComun/r"><button class="contact100-form-btn">
						Zona Común
					</button><a/>
				</div>
			</form>


			<!-- <div class="contact100-more flex-col-c-m" style="background-image: url('images/bg-01.jpg');"> -->
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	
	<script src="../../static/js/main.js"></script>
	
</body>
</html>
