<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/urbanizacion/c" method="post"
			class="contact100-form validate-form">
			<span class="contact100-form-title"> Home <img id="logo"
				src="../../static/img/LogoPagina.png" width="15%" height="25%">
			</span>

			<div class="container-contact100-form-btn">
				<a href="/urbanizacion/r"><button class="contact100-form-btn">
						Urbanización</button> <a />
			</div>

			<div class="container-contact100-form-btn">
				<a href="/edificio/r"><button class="contact100-form-btn">
						Edificio</button> <a />
			</div>

			<div class="container-contact100-form-btn">
				<a href="/vecino/r"><button class="contact100-form-btn">
						Vecinos</button> <a />
			</div>

			<div class="container-contact100-form-btn">
				<a href="/zonaComun/r"><button class="contact100-form-btn">
						Zona Común</button> <a />
			</div>
		</form>


		<!-- <div class="contact100-more flex-col-c-m" style="background-image: url('images/bg-01.jpg');"> -->
	</div>
</div>


