<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/urbanizacion/c" method="post"
			class="contact100-form validate-form">
			<span class="contact100-form-title"> Home <img id="logo"
				src="/img/LogoPagina.png" width="15%" height="25%">
			</span>

			<div class="container-contact100-form-btn">
				<a href="/urbanizacion/c" class="contact100-form-btn" role="button">Urbanizacion</a>
			</div>

			<div class="container-contact100-form-btn">
				<a href="/edificio/r" class="contact100-form-btn" role="button">Edificio</a>
			</div>

			<div class="container-contact100-form-btn">
				<a href="/vecino/r" class="contact100-form-btn" role="button">Vecinos</a>
			</div>

			<div class="container-contact100-form-btn">
			<a href="/zonaComun/r" class="contact100-form-btn" role="button">Zona Comun</a>
			
			
				
			</div>
		</form>


		<!-- <div class="contact100-more flex-col-c-m" style="background-image: url('images/bg-01.jpg');"> -->
	</div>
</div>


