

<div class="container-contact100">
	<div class="wrap-contact100">

		<form class="contact100-form validate-form" method="post"
			name="miForm" onsubmit="return validarEmail()">
			<span class="contact100-form-title"> Introduce los
				credenciales para entrar a tu comunidad. </span>

			<div class="wrap-input100 validate-input"
				data-validate="Nombre requerido">
				<label class="label-input100" for="id-email">Email</label> <input
					id="id-email" class="input100" type="text" name="email">
					<span class="focus-input100"></span>
				<div id="errEmail"></div>
				
			</div>

			<div class="wrap-input100 validate-input"
				data-validate="Contraseña requerida">
				<label class="label-input100" for="id-password">contraseña</label> <input
					id="id-password" class="input100" type="password" name="password">
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">Entrar</button>
			</div>

			<div class="container-contact100-form-btn">
				<a id="aPass" href="#"></a>
				<p>Olvidaste tu contraseña?</p>
			</div>

		</form>

		<img id="login" src="/img/LogoPagina.png" width="20%" height="20%">


	</div>
</div>

<script>
	function validarEmail() {
		var expEmail = /[a-z0-9ñç](\.?[a-z_0-9-ñç]){2,40}@[a-zñç]{2,20}.[a-zñç]{2,5}$/;

		if (!expEmail.test(miForm.email.value.toLowerCase())) {
			document.getElementById("errEmail").innerHTML = "<font color='red'>El email no es correcto.</font>";
			return false;
		} else {
			document.getElementById("errEmail").innerHTML = "";
			return true;
		}
	}
</script>

<footer class="site-footer">
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
		$(".js-select2").each(function(){
			$(this).on('select2:open', function (e){
				$(this).parent().next().addClass('eff-focus-selection');
			});
		});
		$(".js-select2").each(function(){
			$(this).on('select2:close', function (e){
				$(this).parent().next().removeClass('eff-focus-selection');
			});
		});
	

	</script>
	

    
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify"><i></i> </p>
          </div>

          <div class="col-xs-6 col-md-3">
             <h6>Categories</h6> 
            <ul class="footer-links">
<!--               <li><a href="http://scanfcode.com/category/c-language/">C</a></li> -->
              
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
<!--             <h6>Quick Links</h6> -->
            <ul class="footer-links">
<!--               <li><a href="http://scanfcode.com/about/">About Us</a></li> -->
              
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; Desarrollado por UrbaZone <img
				id="logo" src="/img/LogoPagina.png" width="5%" height="10%">
        &nbsp; <a href="/privacidad"><font face="Comic Sans MS,arial,verdana" size="1" color="teal">Políticas de privacidad y </font></a><a href="/cookies"><font face="Comic Sans MS,arial,verdana" size="1" color="teal">Políticas de cookies</font></a>
            </p>
          </div>

        <div id="social" class="contact100-form-social flex-c-m">
					<a href="#" class="contact100-form-social-item flex-c-m bg1 m-r-5">
						<i class="fa fa-facebook-f" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg3">
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
					</a>
				</div>
        </div>
      </div>
</footer>
	
