

	<div class="container-contact100">
		<div class="wrap-contact100">

			<form class="contact100-form validate-form" method="post">
				<span class="contact100-form-title">
					Introduce los credenciales para entrar a tu comunidad.
				</span>


				<div class="wrap-input100 validate-input" data-validate="Nombre requerido">
					<label class="label-input100" for="id-username">Usuario</label>
					<input id="id-username" class="input100" type="text" name="username" >
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Contraseña requerida">
					<label class="label-input100" for="id-password">contraseña</label>
					<input id="id-password" class="input100" type="password" name="password" >
					<span class="focus-input100"></span>
				</div>


				
			

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Entrar
					</button>
				</div>

				
				
				<div class="container-contact100-form-btn">
					<a id="aPass" href="#"></a> <p>Olvidaste tu contraseña?</p>
				</div>

				
			</form>

			<img id="login" src="/img/LogoPagina.png" width="20%" height="20%">

			
		</div>
	</div>





	

