&nbsp;&nbsp;&nbsp;



<h3 id="politicaCookies"> POLÍTICA DE PRIVACIDAD </h3>
&nbsp;&nbsp;&nbsp;&nbsp;
<p id="parrafo">Bienvenido a la Política de privacidad de <img
				id="logo" src="/img/LogoPagina.png" width="3%" height="7%"> .</p>

 &nbsp;&nbsp;
<p id="parrafo">Muchas gracias por tomarse el tiempo para leerla. Apreciamos
que nos confíe su información y tenemos la intención de mantener para
siempre esa confianza. </p>
 &nbsp;&nbsp;
<p id="parrafo">Todo empieza con asegurarnos de que comprende la
información que recopilamos, por que lo hacemos, cómo la usamos y cuáles
son sus opciones con respecto a su información. </p>

 &nbsp;&nbsp;
<p id="parrafo">Esta Política describe nuestras prácticas de privacidad en lenguaje sencillo, por lo que
intentamos utilizar lo menos posible la terminología jurídica y técnica.
Esta Política de privacidad entra en vigor el 25 de mayo de 2018.</p> 
 &nbsp;&nbsp;
<p id="parrafo">La versión previa de esta Política de privacidad, disponible aquí, será de
aplicación hasta esa fecha.</p>

 &nbsp;&nbsp;
<p id="parrafo"> FECHA DE ENTRADA EN VIGOR: 25 de mayo de
2018</p>



