
<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/registro" method="post" class="contact100-form validate-form" id="registro" name="miForm" onsubmit="return validarEmail()">
			<span class="contact100-form-title"> 
				Nuevo Vecino
				<img id="logo" src="/img/LogoPagina.png" width="15%" height="25%">
			</span>
	
			<div class="wrap-input100">
				<div class="label-input100">Urbanizacion</div>
				<select class="js-select2" id="id-urbaId" name="urbaId">
						<option>Selecciona Urbanización</option>
						<option th:each="urba:${urbanizaciones}" th:text="${urba.nombre}" th:value="${urba.id}"></option>
				</select>
				<div class="dropDownSelect2"></div>
				<span class="focus-input100"></span>
			</div>
	
	
			<div class="wrap-input100">
				<div class="label-input100">Portal</div>
				<select class="js-select2" id="id-portal" name="portal">
				</select>
				<div class="dropDownSelect2"></div>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100">
				<div class="label-input100">Pisos/Puertas</div>
				<select class="js-select2" id="id-pisosPuertas" name="pisosPuertas">
				</select>
				<div class="dropDownSelect2"></div>
				<span class="focus-input100"></span>
			</div>
        	
        	<div class="wrap-input100 validate-input" data-validate="Email requerido">
				<label class="label-input100" for="id-email">Email</label> 
				<input type="text" class="input100" id="id-email" name="email"/>
				<span class="focus-input100"></span>
				<div id="errEmail"></div>
				
			</div>
        	
        	<div class="container-contact100-form-btn">
				<input type="submit" id="botonEnvio" class="contact100-form-btn" value="Registrar">
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn" id="botonVolver"><a href="/" class="contact100-form-btn">Volver</a></button>
			</div>
        	
		</form>
		<img id="home" src="/img/LogoPagina.png" width="55%" height="55%" />
	</div>
</div>
<script type="text/javascript">
	
	function validarEmail() {
		var expEmail = /[a-z0-9ñç](\.?[a-z_0-9-ñç]){2,40}@[a-zñç]{2,20}.[a-zñç]{2,5}$/;

		if (!expEmail.test(miForm.email.value.toLowerCase())) {
			document.getElementById("errEmail").innerHTML = "<font color='red'>El email no es correcto.</font>";
			return false;
		} else {
			document.getElementById("errEmail").innerHTML = "";
			return true;
		}
	}
	
	$(document).ready(function() {
		//FUNCIÓN QUE CARGA LOS PORTALES DESPUÉS DE HABER ELEGIDO URBANIZACIÓN
		$('#id-urbaId').on('change',
				function() {
					$.getJSON('getPortales', 
						'urbaId='+$(this).val(),
						function(valor) {
							$('#id-portal').empty();
							var html = '<option>Selecciona Portal</option>';
							var len = valor.length;
							for(var i=0; i<len;i++) {
								html+='<option value="' + valor[i].portal + '">' + valor[i].portal + '</option>';
							}
							$('#id-portal').append(html);
						});
		});
		
		//FUNCIÓN QUE CARGA LOS PISOS Y LAS PUERTAS DESPUÉS DE HABER ELEGIDO PORTAL
		$('#id-portal').on('change',
				function() {
					$.getJSON('getPisosPuertas', 
							'dato='+$(this).val()+'Y'+$('#id-urbaId').val(),
						function(valor) {
							$('#id-pisosPuertas').empty();
							var html = '<option>Selecciona Piso/Puerta</option>';
							var len = valor.length;
							for(var i=0; i<len;i++) {
								html+='<option value="' + valor[i] + '">' + valor[i] + '</option>';
							}
							$('#id-pisosPuertas').append(html);
						});
				
		});
	});

</script>

<footer class="site-footer">
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
		$(".js-select2").each(function(){
			$(this).on('select2:open', function (e){
				$(this).parent().next().addClass('eff-focus-selection');
			});
		});
		$(".js-select2").each(function(){
			$(this).on('select2:close', function (e){
				$(this).parent().next().removeClass('eff-focus-selection');
			});
		});
	

	</script>
	

    
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify"><i></i> </p>
          </div>

          <div class="col-xs-6 col-md-3">
             <h6>Categories</h6> 
            <ul class="footer-links">
<!--               <li><a href="http://scanfcode.com/category/c-language/">C</a></li> -->
              
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
<!--             <h6>Quick Links</h6> -->
            <ul class="footer-links">
<!--               <li><a href="http://scanfcode.com/about/">About Us</a></li> -->
              
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; Desarrollado por UrbaZone <img
				id="logo" src="/img/LogoPagina.png" width="5%" height="10%">
        &nbsp; <a href="/privacidad"><font face="Comic Sans MS,arial,verdana" size="1" color="teal">Políticas de privacidad y </font></a><a href="/cookies"><font face="Comic Sans MS,arial,verdana" size="1" color="teal">Políticas de cookies</font></a>
            </p>
          </div>

        <div id="social" class="contact100-form-social flex-c-m">
					<a href="#" class="contact100-form-social-item flex-c-m bg1 m-r-5">
						<i class="fa fa-facebook-f" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg3">
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
					</a>
				</div>
        </div>
      </div>
</footer>
	