<div class="container-contact100">
	<div class="wrap-contact100">
		<form action="/registro" method="post" class="contact100-form validate-form" id="registro">
			<span class="contact100-form-title"> 
				Nuevo Vecino
				<img id="logo" src="/img/LogoPagina.png" width="15%" height="25%">
			</span>
	
		<div class="wrap-input100">
				<div class="label-input100">Urbanizacion</div>
				<div></div>
				<select class="js-select2" id="id-urbaId" name="urbaId"  onchange="/anonymous/registroPost(urbaId)">
						<option th:each="urba:${urbas}" th:text="${urba.nombre}" th:value="${urba.id}"></option>
				</select>
				<div class="dropDownSelect2"></div>

				<span class="focus-input100"></span>
			</div>
	
			<div class="wrap-input100">
				<div class="label-input100">Portal</div>
				<div></div>
				<select class="js-select2" id="id-portal" name="portal">
						<option th:each="edificio:${edificios}" th:text="${edificio}" th:value="${portal}"></option>
				</select>
				<div class="dropDownSelect2"></div>

				<span class="focus-input100"></span>
			</div>
        	
        	<div class="wrap-input100 validate-input" data-validate="Email requerido">
				<label class="label-input100" for="id-email">Email</label> 
				<input type="text" class="input100" id="id-email" name="email"/> 
				<span class="focus-input100"></span>
			</div>
        	
        	
        
        	
        	<div class="container-contact100-form-btn">
				<input type="submit" id="botonEnvio" class="contact100-form-btn" value="Registrar">
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn" id="botonVolver"><a href="/" class="contact100-form-btn">Volver</a></button>
			</div>
        	
		</form>
		<img id="home" src="/img/LogoPagina.png" width="55%" height="55%" />
	</div>
</div>
<script type="text/javascript">

$(document).ready(function() {
	//FUNCIÓN QUE CARGA LOS PORTALES DESPUÉS DE HABER ELEGIDO URBANIZACIÓN
	$('#id-urbaId').on('change',
			function() {
				$.getJSON('getPortales', 
					'urbaId='+$(this).val(),
					function(valor) {
						$('#id-portal').empty();
						var html = '<option>Selecciona Portal</option>';
						var len = valor.length;
						for(var i=0; i<len;i++) {
							html+='<option value="' + valor[i].portal + '">' + valor[i].portal + '</option>';
						}
						$('#id-portal').append(html);
					});
			});
	
	//FUNCIÓN QUE CARGA LOS PISOS Y LAS PUERTAS DESPUÉS DE HABER ELEGIDO PORTAL
	$('#id-portal').on('change',
			function() {
				$.getJSON('getPisosPuertas', 
						'algo='+$(this).val()+'Y'+$('#id-urbaId').val(),
					function(valor) {
						$('#id-pisosPuertas').empty();
						var html = '<option>Selecciona Piso/Puerta</option>';
						var len = valor.length;
						for(var i=0; i<len;i++) {
							html+='<option value="' + valor[i] + '">' + valor[i] + '</option>';
						}
						$('#id-pisosPuertas').append(html);
					});
			});
	
	/*$('#registro').submit(function() {
		$.ajax({
			url: '/registro',
			type: 'POST',
			contentType: "application/x-www-form-urlencoded",
			data: JSON.stringify({
				nombre: $('#id-urbaId').val(),
				vive: $('#id-portal').val(),
				username: $('#id-pisosPuertas').val(),
				email: $('#id-email').val()
			}),
			error: function() {
				alert("Error - Datos no enviados");
			}
		})
	});*/
	
});

